<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <title>Tic Tac Toe</title>
</head>
<body>
    <table>
        {% for i in range(3) %}
            <tr>
                {% for j in range(3) %}
                <td>
                    {% if game[i][j] %}
                        {{ game[i][j] }}
                    {% else %}
                        <a href="{{url_for('play', row=i, col=j)}}">play {{ turn }}</a>
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</body>
</html>